.main-container {
  margin: 2.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(140, 140, 140, 1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(140, 140, 140, 1);
  box-shadow: 0px 0px 8px 2px rgba(140, 140, 140, 1);
  border-radius: 5px;
}

.main-page {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.main-page-user {
  width: 70%;
  overflow: auto;
  scroll-behavior: smooth;
}

.main-page-user::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(248, 226, 186, 0.8);
  border-radius: 12px;
  background-color: #f5f5f5;
}

.main-page-user::-webkit-scrollbar {
  height: 8px;
  background-color: #f5f5f5;
}

.main-page-user::-webkit-scrollbar-thumb {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(248, 226, 186, 0.8);

  background-color: rgb(247, 175, 43);
}

.w-8 {
  width: 2rem;
}
.user_name {
  font-size: 15px;
}
.text-gray {
  color: gray;
}

.text-green {
  color: green;
  font-weight: 550;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.circle {
  border-radius: 50%;
}

.user-table {
  width: 100%;
}

.status,
.access {
  background-color: rgb(249 250 251);
  border: none;
  border-right: 15px solid transparent;
  outline: 2px solid #e9ecef;
  border-radius: 5px;
  width: 100%;
  max-width: 120px;
  color: black;
}

.card-area {
  display: flex;
  position: relative;
  justify-content: end;
  flex: 1;
}

.user-card {
  width: 305px;
  height: 485px;
  background-color: #fff;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
  top: 16%;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 20px 2px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 20px 2px rgba(189, 189, 189, 1);
}

.cursor-ponter {
  cursor: pointer;
}

.profile {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.nameOfProfile {
  font-size: medium;
  text-align: center;
  display: block;
  position: relative;
}
.nameOfProfile::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50rem;
  left: 105%;
  animation: heartbeat 1s ease-in-out infinite;
}
.profileActive::after {
  background-color: green;
}
.profileInactive::after {
  background-color: red;
}

.plan {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 600;
}

.active-users {
  border: none;
  background-color: rgb(250, 184, 61);
  border-radius: 5px;
  color: white;
}

progress {
  border-radius: 7px;
  width: 100%;
  height: 8px;
}

progress::-webkit-progress-bar {
  background-color: rgb(248, 226, 186);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(247, 175, 43);
  border-radius: 7px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.flex-container > div {
  padding-top: 10px;
}
.paginate-ctn {
  display: flex;
}

.round-effect {
  color: #feb23e;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.round-effect:hover {
  text-decoration: none;
  background: #f5d4a2;
  color: #fff;
}
.round-effect:hover a {
  text-decoration: none;
  color: #fff;
}

.active {
  background: #feb23e;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #feb23e;
}

.loader {
  margin-top: 25%;
  margin-left: 45%;
}

@media screen and (max-width: 1360px) {
  .main-page-user {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .main-page-user {
    width: 90%;
  }
}

@media screen and (max-width: 1070px) {
  .main-page-user {
    width: 100%;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
